.Font {
    text-align: justify;
}

.Font-header {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    height: 80%;
    background: white;
    color: rgb(107, 0, 201);
    padding: 20px 100px;
    text-align: justify;
    line-height: 1.5;
    margin: 10px;
  }

.Texto {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:large;
    border: 5px;
    background: rgb(250, 229, 229);
    color: rgb(107, 0, 201);
    padding: 10px;
    text-align: center;
    line-height: 1.5;
    margin: 10px;
}
.Texto-1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:medium;
    border: 5px;
    background: rgb(250, 229, 229);
    color: rgb(107, 0, 201);
    padding: 5px;
    text-align: center;
    line-height: 1.5;
}

.Box {
    border: 5px;
    padding-top: 35px;
    padding-bottom: 50px;
    text-align: right;
}

.Especial{
    background: rgb(107, 0, 201);
    color: rgb(107, 0, 201);
    padding: 50px 5px;
    text-align: center;
}
.Font-footer {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    height: 100%;
    background: white;
    color: rgb(107, 0, 201);
    text-align:center;
    justify-content: center;
    align-content: center;
    line-height: 1.5;
  }

.button{
    display: none !important;
}